* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}

h1 {
  font-size: 1.25em;
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

h4,
h5,
h6 {
  font-size: 1em;
  font-weight: 400;
}

p {
  color: #414141;
  line-height: 1.3em;
}

section {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 13% 0 17% 0;
}
section > h2 {
  margin-bottom: 2em;
}
section .section-container {
  width: 90%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

header {
  outline: 1px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  margin: 1em 0 0 1.5em;
}
header nav ul > li:not(:last-child) {
  margin-bottom: 0.2em;
}

#projects {
  outline: 1px solid blue;
}
#projects .section-container > ul {
  list-style: none;
}
#projects .section-container > ul > li:not(:last-child) {
  margin-bottom: 0.5em;
}
#projects .development {
  outline: 1px solid red;
}
#projects .development .proj-dev {
  outline: 1px solid green;
}
#projects .film {
  outline: 1px solid red;
}
#projects .film .proj-film {
  outline: 1px solid aqua;
}
#projects .photo {
  outline: 1px solid red;
}

#experience {
  outline: 1px solid green;
}
#experience .section-container > ul {
  list-style: none;
}
#experience .section-container > ul h2 {
  margin-bottom: 0.1em;
}
#experience .section-container > ul h3 {
  margin-bottom: 0.5em;
}
#experience .section-container > ul > li:not(:last-child) {
  margin-bottom: 1.8em;
}
#experience .section-container > ul .work-container > ul > li:not(:last-child) {
  margin-bottom: 0.2em;
}
#experience .work-container {
  outline: 1px solid red;
}

.skills {
  outline: 1px solid red;
}
.skills .section-container {
  outline: 1px solid green;
}

#education {
  outline: 1px solid blue;
}
#education .section-container > ul {
  list-style: none;
}
#education .section-container > ul h2 {
  margin-bottom: 0.1em;
}
#education .section-container > ul h3 {
  margin-bottom: 0.5em;
}
#education .section-container > ul > li:not(:last-child) {
  margin-bottom: 1.8em;
}
#education .education-container {
  outline: 1px solid green;
}

#info {
  outline: 1px solid purple;
}
#info .about {
  outline: 1px solid green;
}
#info .contact {
  margin: 2em 0 1em 0;
}
#info .contact h2 {
  margin-bottom: 1em;
}
#info .contact .contact-form {
  width: 60%;
  display: flex;
  flex-direction: column;
}
#info .contact .contact-form input {
  outline: 1px solid red;
}
#info .contact .contact-form #fname,
#info .contact .contact-form #lname,
#info .contact .contact-form #email {
  width: 50%;
}
#info .contact .contact-form #message {
  height: 6em;
}
#info .social-links a {
  font-size: 1.5em;
}

/* On screens that are 1667px or less */
@media screen and (max-width: 1667px) {
  body {
    padding: 0 20%;
  }
}
/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  body {
    padding: 0 10%;
  }
}

/*# sourceMappingURL=style.css.map */
