html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  transition: all 0.4s ease-in-out;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}

.side-nav {
  position: fixed;
  left: -5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  opacity: 0;

  &.active {
    left: 2em;
    opacity: 1;
  }

  li:first-child {
    margin-bottom: 0.5em;
  }
}

.mobile-nav {
  position: fixed;
  right: -10%;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 10%;
  transition: all 0.4s ease-in-out;

  ul {
    list-style: none;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;

    li:first-child {
      margin-bottom: 1em;
    }
  }
}

h1 {
  font-size: 1.25em;
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

h4,
h5,
h6 {
  font-size: 1em;
  font-weight: 400;
}

p {
  color: rgb(65, 65, 65);
  line-height: 1.3em;
}

a {
  color: rgb(0, 0, 238);

  &:active {
    color: rgb(255, 0, 0);
  }
}

section {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto 0;

  > h2 {
    margin: 2em 0;
  }

  .section-container {
    width: 90%;
    margin: 0 auto;
  }
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

////////////////////
// SECTIONS
////////////////////

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.23s ease-in-out;

  nav {
    margin: 1em 0 0 1.5em;

    ul > li:not(:last-child) {
      margin-bottom: 0.2em;
    }
  }

  &.active {
    opacity: 100%;
  }
}

#projects {
  .featured-project {
    margin-bottom: 3em;

    h2 {
      margin-bottom: 1em;
    }
  }

  .section-container > ul {
    list-style: none;

    > li:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }
}

#experience {
  .section-container > ul {
    list-style: none;

    h2 {
      margin-bottom: 0.1em;
    }

    h3 {
      margin-bottom: 0.5em;
    }

    > li:not(:last-child) {
      margin-bottom: 1.8em;
    }

    .work-container > ul > li:not(:last-child) {
      margin-bottom: 0.2em;
    }
  }

  .work-container {
    > ul {
      margin-left: 1.5em;
      list-style: disc;
    }
  }
}

#education {
  .section-container > ul {
    list-style: none;

    > li:not(:last-child) {
      margin-bottom: 1.8em;
    }

    h2 {
      margin-bottom: 0.1em;
    }

    h3 {
      margin-bottom: 0.5em;
    }
  }

  .education-container {
    p {
      margin-left: 0.5em;
    }
  }
}

#info {
  padding-bottom: 3em;

  .bio {
    text-indent: 2em;
    margin-bottom: 3em;
  }

  .contact {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease-in-out;

    h3 {
      margin-bottom: 1em;
    }

    input,
    textarea {
      padding: 0.5em;
      font-size: 0.8em;
    }

    .contact-form {
      margin-bottom: 2em;

      input, textarea {
        font-family: Arial, Helvetica, sans-serif;
      }

      .name {
        margin-bottom: 0.5em;
        display: flex;
        justify-content: space-between;

        #fname,
        #lname {
          width: 49%;
        }
      }

      #email {
        width: 100%;
        margin-bottom: 0.5em;
      }

      #message {
        height: 6em;
        width: 100%;
        margin-bottom: 0.6em;
      }

      input[type="submit"] {
        font-size: 1em;
      }
    }
  }

  .social-links {
    a {
      font-size: 1.5em;
    }
  }
}

////////////////////
// BREAKPOINTS
////////////////////

/* On screens that are 1667px or less */
@media screen and (max-width: 1667px) {
  main {
    margin: 0 20%;
  }
}

/* On screens that are 1309px or less */
@media screen and (max-width: 1309px) {
  #info .contact {
    width: 70%;
  }
}

/* On screens that are 800px or less */
@media screen and (max-width: 800px) {
  html {
    font-size: calc(16px + 3 * ((100vw - 320px) / 680));
  }
  
  main {
    margin: 0 10%;
  }

  .side-nav.active {
    left: -5em;
  }

  .mobile-nav {
    &.active {
      right: 0;
    }
  }

  #info .contact {
    width: 90%;
  }
}
