html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}

h1 {
  font-size: 1.25em;
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

h4,
h5,
h6 {
  font-size: 1em;
  font-weight: 400;
}

p {
  color: rgb(65, 65, 65);
  line-height: 1.3em;
}

section {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25% 0 40% 0;

  > h2 {
    margin-bottom: 2em;
  }

  .section-container {
    width: 90%;
    margin: 0 auto;
  }
}

.hidden {
  display: none;
}

////////////////////
// SECTIONS
////////////////////

header {
  // outline: 1px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  nav {
    margin: 1em 0 0 1.5em;

    ul > li:not(:last-child) {
      margin-bottom: 0.2em;
    }
  }
}

#projects {
  // outline: 1px solid blue;

  .section-container > ul {
    list-style: none;

    > li:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }

  .development {
    // outline: 1px solid red;

    .proj-dev {
      // outline: 1px solid green;
    }
  }

  .film {
    // outline: 1px solid red;

    .proj-film {
      // outline: 1px solid aqua;
    }
  }

  .photo {
    // outline: 1px solid red;
  }
}

#experience {
  // outline: 1px solid green;

  .section-container > ul {
    list-style: none;

    h2 {
      margin-bottom: 0.1em;
    }

    h3 {
      margin-bottom: 0.5em;
    }

    > li:not(:last-child) {
      margin-bottom: 1.8em;
    }

    .work-container > ul > li:not(:last-child) {
      margin-bottom: 0.2em;
    }
  }

  .work-container {
    // outline: 1px solid red;

    > ul {
      margin-left: 1.5em;
      list-style: disc;
    }
  }
}

.skills {
  // outline: 1px solid red;

  .section-container {
    // outline: 1px solid green;
  }
}

#education {
  // outline: 1px solid blue;
  .section-container > ul {
    list-style: none;

    > li:not(:last-child) {
      margin-bottom: 1.8em;
    }

    h2 {
      margin-bottom: 0.1em;
    }

    h3 {
      margin-bottom: 0.5em;
    }
  }

  .education-container {
    // outline: 1px solid green;

    p {
      margin-left: 0.5em;
    }
  }
}

#info {
  // outline: 1px solid red;

  .bio {
    // outline: 1px solid green;
    text-indent: 2em;
  }

  .contact {
    margin: 2em 0 1em 0;

    h3 {
      margin-bottom: 1em;
    }

    input,
    textarea {
      padding: 0.5em;
      font-size: 0.8em;
    }

    .contact-form {
      // outline: 1px solid blue;
      width: 60%;

      .name {
        // outline: 1px solid green;
        width: 75%;
        margin-bottom: 0.5em;
        display: flex;
        justify-content: space-between;

        #fname,
        #lname {
          width: 49%;
        }
      }

      #email {
        width: 75%;
        margin-bottom: 0.5em;
      }

      #message {
        height: 6em;
        width: 100%;
        margin-bottom: 0.6em;
      }

      input[type="submit"] {
        font-size: 1em;
      }
    }
  }

  .social-links {
    a {
      font-size: 1.5em;
    }
  }
}

////////////////////
// BREAKPOINTS
////////////////////

/* On screens that are 1667px or less */
@media screen and (max-width: 1667px) {
  body {
    margin: 0 20%;
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  body {
    margin: 0 10%;
  }

  // TODO
  // .contact-form {
  //   width: 100%;
  // }
}
