html {
  box-sizing: border-box;
  font-size: calc(16px + 0.2 * ((100vw - 320px) / 680));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  transition: all 0.4s ease-in-out;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}

.side-nav {
  position: fixed;
  left: -5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  opacity: 0;

  &.active {
    left: 2em;
    opacity: 1;
  }

  li:first-child {
    margin-bottom: 0.5em;
  }
}

.mobile-nav {
  position: fixed;
  right: -10%;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 10%;
  transition: all 0.4s ease-in-out;

  ul {
    list-style: none;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1.5em;

    li:first-child {
      margin-bottom: 1.5em;
    }

    li:not(:first-child) {
      margin-bottom: 0.4em;
    }
  }
}

h1 {
  font-size: 1.25rem;
  font-weight: 400;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 400;
}

p {
  color: rgb(65, 65, 65);
  line-height: 1.3em;
}

a {
  color: rgb(0, 0, 238);

  &:active {
    color: rgb(255, 0, 0);
  }
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: auto 0;

  > h2 {
    margin: 2em 0;
  }

  .section-container {
    width: 90%;
    margin: 0 auto;
  }
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

////////////////////
// SECTIONS
////////////////////

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.23s ease-in-out;

  nav {
    margin: 1em 0 0 1.5em;

    ul > li:not(:last-child) {
      margin-bottom: 0.2em;
    }
  }

  &.active {
    opacity: 100%;
  }

  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    .loader::after {
      content: '\2026';
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
      animation: dots steps(4, end) 2s infinite;
      width: 0;
    }

    @keyframes dots {
      to {
        width: 1.5em;
      }
    }
  }
}

#projects {
  .section-container > ul {
    list-style: none;
    margin-bottom: 3.5em;

    > li:not(:last-child) {
      margin-bottom: 2em;
    }
  }

  .project {
    h2 {
      margin-bottom: 1em;
    }

    .project-description {
      margin-left: 0.5em;
    }
  }
}

#experience {
  .section-container > ul {
    list-style: none;

    h2 {
      margin-bottom: 0.1em;
    }

    h3 {
      margin-bottom: 0.5em;
    }

    > li:not(:last-child) {
      margin-bottom: 1.8em;
    }

    .work-container > ul > li:not(:last-child) {
      margin-bottom: 0.2em;
    }
  }

  .work-container {
    > ul {
      margin-left: 1.5em;
      list-style: disc;
    }
  }
}

#education {
  .section-container > ul {
    list-style: none;

    > li:not(:last-child) {
      margin-bottom: 1.8em;
    }

    h2 {
      margin-bottom: 0.1em;
    }

    h3 {
      margin-bottom: 0.5em;
    }
  }

  .education-container {
    p {
      margin-left: 0.5em;
    }
  }
}

#info {
  padding-bottom: 3em;

  .bio {
    margin-bottom: 3em;

    .details {
      display: flex;
      margin-bottom: 1.5em;
      justify-content: space-between;
      align-items: center;

      .portrait {
        width: 150px;
        height: 180px;
        flex-basis: 30%;
        object-fit: cover;
        border-radius: 2px;
        margin-right: 2em;
      }

      .summary {
        text-indent: 2em;
      }
    }
  }

  .contact {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease-in-out;

    h3 {
      margin-bottom: 1em;
      opacity: 1;
      transition: all 0.2s ease;

      &.submitted {
        opacity: 0;
        cursor: default;
      }
    }

    input,
    textarea {
      padding: 0.5em;
      font-size: 0.8rem;
    }

    .contact-container {
      margin-bottom: 2em;
      display: flex;
      align-items: center;
      justify-content: center;


      .contact-form {
        opacity: 1;
        transition: all 0.2s ease;

        input, textarea {
          font-family: Arial, Helvetica, sans-serif;
        }
  
        #name {
          width: 100%;
          margin-bottom: 0.5em;
        }
  
        #email {
          width: 100%;
          margin-bottom: 0.5em;
        }
  
        #message {
          height: 6em;
          width: 100%;
          margin-bottom: 0.6em;
        }
  
        input[type="submit"] {
          font-size: 1rem;
        }

        &.submitted {
          opacity: 0;
        }
      }

      .contact-confirmation {
        position: absolute;
        opacity: 0;
        transition: all 0.5s ease;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .social-links {
    a {
      font-size: 1.6rem;
    }
  }
}

////////////////////
// DARK MODE
////////////////////

.dark-mode-toggle {
  text-decoration: underline;
  cursor: pointer;
}

.dark-mode {
  background: rgb(35, 35, 35);
  color: rgb(240, 240, 240);

  p {
    color: rgb(220, 220, 220);
    line-height: 1.3em;
  }
  
  a {
    color: rgb(145, 145, 255);
  
    &:active {
      color: rgb(195, 110, 110);
    }
  }

  .loader-wrapper {
    background: rgb(25, 25, 25);
  }

  .contact-form {
    input, textarea {
      background: rgb(50, 50, 50);
      color: rgb(220, 220, 220);
      border: 2px inset rgb(100, 100, 100);
    }
  }
}


////////////////////
// BREAKPOINTS
////////////////////

/* On screens that are 1667px or less */
@media screen and (max-width: 1667px) {
  main {
    margin: 0 20%;
  }
}

/* On screens that are 1309px or less */
@media screen and (max-width: 1309px) {
  #info .contact {
    width: 70%;
  }
}

/* On screens that are 800px or less */
@media screen and (max-width: 800px) {
  main {
    margin: 0 10%;
  }

  .side-nav.active {
    left: -5em;
  }

  .mobile-nav {
    &.active {
      right: 0;
    }
  }

  #info .contact {
    width: 90%;
  }
}
