* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 20%;
}

h1 {
  font-size: 1.25em;
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

h4, h5, h6 {
  font-size: 1em;
  font-weight: 400;
}

p {
  color: rgb(25, 25, 25);
}

.hidden {
  display: none;
}

////////////////////
// SECTIONS
////////////////////

header {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects {
  border: 1px solid blue;

  .development {
    .pro-dev {
      border: 1px solid aqua;
    }
  }

  .film {
    .pro-film {
      border: 1px solid aqua;
    }
  }

}

#experience {
  border: 1px solid green;

  .work-container {
    border: 1px solid red;
  }
}

.skills {
  border: 1px solid yellow;
}

#education {
  border: 1px solid blue;

  .education-container {
    border: 1px solid green;
  }
}

#info {
  .about {
    border: 1px solid green;
  }
  
  .contact {
    border: 1px solid blue;
  
    .contact-form {
      border: 1px solid aquamarine;
  
      input {
        border: 1px solid red;
      }
    }
  
    .social-links {
      border: 1px solid green;
    }
  }
}
